body {}

header {}

main {}

footer {}

#output {
    height: 300px;
    width: 400px;
    overflow: auto;
}

#date{
    font-size: 14px;
}

button{
}

#hukidasi {
    position: relative;
    display: inline-block;
    margin: 1.5em 0;
    padding: 7px 10px;
    min-width: 120px;
    max-width: 100%;
    color: #555;
    font-size: 16px;
    background: #e0edff;
  }
  
#hukidasi:before {
    content: "";
    position: absolute;
    top: -30px;
    left: 50%;
    margin-left: -15px;
    border: 15px solid transparent;
    border-bottom: 15px solid #e0edff;
  }
  
#hukidasi p {
    margin: 0;
    padding: 0;
  }